.examples {
    display: flex;
    margin: 0 auto;
    flex-basis: calc(100% / 3 -30px);
}

.examples-list {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}


.examples-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}