.features {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.features ul {
    display: flex;
}

.features-list {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    margin-bottom: 30px;
}

.features-icons {
    width: 70px;
    height: 70px;
}

.features-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}