.hero {
    min-width: 1600px;
    height: 600px;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(images/bg.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}

.hero-title {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    padding-bottom: 30px;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    min-width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: 10px 32px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
}